<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        @if (HttpContext.Current.Request.Cookies["Stacking"]?.HasKeys == true)
        {
        <div class="container-fluid">
            <a href=@Url.Action("Index", "Events") class="navbar-brand">Home</a>
            <a href=@Url.Action("Create", "Events") class="navbar-brand">New Event</a>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Add", "Create", "EventActions", null, null)</li>
                            <li>@Html.ActionLink("List", "Index", "EventActions", null, null)</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">People<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Add", "Create", "People", null, null)</li>
                            <li>@Html.ActionLink("List", "Index", "People", null, null)</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Location<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Add", "Create", "Locations", null, null)</li>
                            <li>@Html.ActionLink("List", "Index", "Locations", null, null)</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Position<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Add", "Create", "Positions", null, null)</li>
                            <li>@Html.ActionLink("List", "Index", "Positions", null, null)</li>
                        </ul>
                    </li>

                    <li class="dropdown-toggle">
                        <a href=@Url.Action("Index", "Answers")>Answers</a>
                    </li>

                    <li class="dropdown-toggle">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @*<li>@Html.ActionLink("Index", "Index", "Reports", null, null)</li>*@
                            <li>@Html.ActionLink("Actions Total", "SumAll", "Reports", null, null)</li>
                            <li>@Html.ActionLink("Who Got What", "WhoGotWhat", "Reports", null, null)</li>
                            <li>@Html.ActionLink("Who Did What", "WhoDidwhat", "Reports", null, null)</li>
                            <li>@Html.ActionLink("Logging", "Index", "Loggings", null, null)</li>
                        </ul>
                    </li>

                </ul>
            </div>

        </div>
        }
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>

</body>
</html>

<style>
    body {
        padding-top: 0px !important;
    }
</style>