@model List<STracker.Models.EventList>
@{

}
<div class="index">

    <div>
        <div class="col" style="padding-left:15px;">
            Showing events starting at @DateTime.Now.AddMonths(-1).ToShortDateString() and number of entries @Model.Count()
        </div>
    </div>
    <br />

    @foreach (var item in Model)
    {
        <div class="entry">

            <div class="row">
                <div class="col-md-2">@Html.Label("Date:") @item.EventDate.ToShortDateString()</div>
                <div class="col-md-2">@Html.ActionLink("Edit", "Edit", new { id = item.ID })</div>
            </div>

            <div class="row">
                <div class="col-md-2">@Html.Label("Orgams had:") @item.OrgamNumber</div>
                <div class="col-md-3">@Html.Label("Over All Rating:") @item.OverAllRating</div>
            </div>

            <h3>Actions</h3>
            <div style="" class="acts">
                <div style="padding-top:10px;padding-left:5px;">
                    @foreach (var acts in item.EventActs)
                    {
                        <div class="row" style="margin-left:5px;">
                            <div class="col-12">@Html.Label(acts.Who) - @acts.DidWhat - @Html.Label(acts.ToWho)</div>
                        </div>

                    }
                </div>
            </div>


            <h3>Sex</h3>
            <div class="sexp" style="">
                @if (item.Fucks.Where(m => m.BottonPerson != null).Count() > 0)
                {
                    <div style="margin-top:10px;margin-left:5px;">
                        @foreach (var acts in item.Fucks.Where(m => m.BottonPerson != null))
                        {
                            <div class="row" style="margin-left:5px;">
                                <div class="col-12">@Html.Label(acts.TopPerson) - @acts.Poistion - @Html.Label(acts.BottonPerson)</div>
                            </div>
                        }
                    </div>
                }
                else
                {<div class="row" style="margin-left:5px;margin-top:10px">
                        <div class="col-12">NONE.</div>
                    </div>
                    <span></span>
                }
            </div>

            <h3>Location</h3>
            <div class="location" style="">
                @if (item.Locations != null)
    {<div style="margin-top:10px;margin-left:5px;">

                <div class="row" style="margin-left:5px;">
                    <div class="col-12">@item.Locations</div>
                </div>
               
            </div> }
                else
                {<div class="row" style="margin-left:5px;margin-top:10px">
                        <div class="col-12">NONE.</div>
                    </div>
                    <span></span>
                }
            </div>


            <br />
            <div class="row">
                <div class="col-md-1">@Html.Label("Notes:")</div>
            </div>
            <div class="col-12" style="padding-bottom:15px;margin-left:10px">@item.Notes</div>
        </div>
    }
</div>

<style>
    .entry {
        border-bottom: solid;
        border-bottom-color: blue;
        margin-bottom: 25px;
    }

    .index {
        margin-top: 15px;
    }

    .entry {
        margin-left: 15px;
    }

    label {
        font-weight: bold;
    }

    .sexp {
        padding-bottom: 20px;
        /*border: 1px solid red;*/
    }

    .acts {
        padding-bottom: 20px;
        /*border: 1px solid black*/
    }

    h3 {
        border-bottom: 1px solid black;
    }
</style>