@model STracker.Models.PeopleCreateModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int SocailNumber = 0;
    int STINumber = 0;
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">@Html.LabelFor(model => model.WhereDidYouMeetThem, htmlAttributes: new { @class = "control-label" })</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.WhereDidYouMeetThem, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WhereDidYouMeetThem, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />

                <div class="row form-group" id="SocailArea" name="SocailArea" style="display:none;margin-bottom:10px">
                    <h3>Socail</h3>
                    <div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-1" style="margin:10px 0 10px 5px">
                        <input type="button" class="btn btn-default" id="addsocial" name="addsocial" value="New social" />
                    </div>
                </div>



                <div class="form-group" name="STIArea" id="STIArea" style="display:none;margin-bottom:10px">
                    <h3>STI's Resultes</h3>
                    <div>

                    </div>
                </div>


                <div style="padding-bottom:10px"></div>
                <div class="row">
                    <div class="col-sm-1" style="margin:10px 0 10px 5px">
                        <input type="button" class="btn btn-default" id="addSTI" name="addSTI" value="Add STI" />
                    </div>
                </div>

                <div style="padding-bottom:50px"></div>

                <div class="row">
                    <div class="col-md-1">@Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label" })</div>
                    <div class="col-md-2">
                        @Html.TextAreaFor(m => m.Notes, 10, 45, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
                <div style="padding-bottom:10px">

                </div>

                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>

            </div>
        </div>



        <div name="SocalOutline" id="SocalOutline" style="display:none;">
            <div name="SocalForm" id="SocalForm">

                <div class="row">
                    <div class="col">@Html.Label("Site")</div>
                    <div class="col">@Html.TextBoxFor(m => Model.SocialSites[@SocailNumber].SiteName, htmlAttributes: new { @placeholder = "Socail Site? Fetlife" })</div>
                </div>
                <div class="row">
                    <div class="col">@Html.Label("Link")</div>
                    <div class="col"> @Html.TextBoxFor(m => Model.SocialSites[@SocailNumber].Link, htmlAttributes: new { @placeholder = "www.site.com/username" })</div>
                </div>
            </div>
            <br />
        </div>

        <div name="STIOutline" id="STIOutline" style="display:none;">
            <div name="STIForm" id="STIForm">
                <div class="row">
                    <div class="col-sm-1">@Html.Label("STI")</div>
                    <div class="col-md-2">@Html.TextBoxFor(m => Model.STIResults[@STINumber].STI, htmlAttributes: new { @placeholder = "STI Name" })</div>
                </div>

                <div class="row">
                    <div class="col">@Html.Label("Results")</div>
                    <div class="col"> @Html.TextBoxFor(m => Model.STIResults[@STINumber].Result, htmlAttributes: new { @placeholder = "Positve or Negtive or ?????" })</div>
                </div>

                <div class="row">
                    <div class="col">@Html.Label("Results Date")</div>
                    <div class="col">
                        <div class='input-group date' id='datetimepicker1'>
                            @Html.TextBoxFor(m => Model.STIResults[@STINumber].ResultsDate, htmlAttributes: new { @placeholder = "Test Dates" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>

                        </div>
                    </div>
                </div>



                <div class="col-md-2">

                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">


                </div>
            </div>
        </div>

        <div style="padding-bottom:10px">

        </div>


        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

}



@*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">


<script>
    var SocailNumber = 0;
    var STINumber = 0;

    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'MM/DD/YYYY'
        });
    });


    $("#addsocial").click(function () {

        addSocial();
    });

    $("#addSTI").click(function () {
        addSTI();
    });


    $(function () {

    });

    $('form').on('click', '.deleteme', function () {
        document.getElementById('form').removeChild(document.getElementById("entryform_" + this.id.split('_')[1]));
    });

    //$('form').on('click', '.deleteme', function () {
    //    document.getElementById('form').removeChild(document.getElementById("entryform_" + this.id.split('_')[1]));
    //});


    function addSocial() {

        var formoutline = "";
        console.log("here I am");



        if (SocailNumber > 0) {
            formoutline = "<hr>";

        }
        else {
            $('#SocailArea').show();
        }

        formoutline += $('#SocalOutline').html();
        formoutline = formoutline.replace(/\[0]/g, "[" + SocailNumber + "]")
            .replace(/\SocalForm/g, "SocalForm_" + SocailNumber);
        //.replace("remove", "remove_" + NumberOfEntries)

        $(formoutline).appendTo("#SocailArea");

        SocailNumber++;

    }

    function addSTI() {

        var formoutline = "";

        if (STINumber > 0) {
            formoutline = "<hr>";
        }
        else {
            $('#STIArea').show();
        }

        formoutline += $('#STIOutline').html();
        formoutline = formoutline.replace(/\[0]/g, "[" + STINumber + "]")
            .replace(/\STIForm/g, "STIForm_" + SocailNumber);
        //.replace("remove", "remove_" + NumberOfEntries)

        $(formoutline).appendTo("#STIArea");

        STINumber++;

    }

</script>


<style>
    .form-group {
        padding-top: 10px;
        margin-left: 0px !important;
    }
</style>



