@model STracker.Models.PeopleDetailMode

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.WhereDidYouMeetThem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhereDidYouMeetThem)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    <h2>Socal Sites</h2>
    @foreach (var item in Model.SocialSites)
    {
        <div>@item.SiteName - @item.Link</div>
    }


    <h2>STI Results</h2>
    @foreach (var item in Model.STIResults)
    {
        <div>@item.STI - @item.Result - @item.ResultsDate</div>
    }


    <h2>What They Did</h2>
    @foreach (var item in Model.TheyDid)
    {
        <div>@item.Act - @item.TimeDone</div>
    }

    <h2>What was done to them</h2>
    @foreach (var item in Model.WasDone)
    {
        <div>@item.Act - @item.TimeDone</div>
    }

</div>



<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
