@model IEnumerable<STracker.Logging>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControllerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionParameters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsoluteUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @if (item.Time != null)
                {
                    @item.Time
                }
                else
                {
                    @item.Date.ToShortTimeString()
                }

            </td>
            <td>
                <a href="http://www.ipaddresslocation.org/ip-address-locator.php?lookup=@item.IPAddress" target="blank">@item.IPAddress</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControllerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionParameters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsoluteUri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
        </tr>
}
    </tbody>
</table>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>